parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:bs\\(\\)\\.$#"
			count: 1
			path: database/factories/FilamentFormFactory.php

		-
			message: "#^Call to an undefined method Faker\\\\Generator\\:\\:bs\\(\\)\\.$#"
			count: 1
			path: database/seeders/FilamentFormSeeder.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$filament_form_id\\.$#"
			count: 1
			path: src/Exports/FilamentFormUsersExport.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$locked\\.$#"
			count: 6
			path: src/Filament/Resources/FilamentFormResource/RelationManagers/FilamentFormFieldsRelationManager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:filamentFormFields\\(\\)\\.$#"
			count: 1
			path: src/Filament/Resources/FilamentFormResource/RelationManagers/FilamentFormFieldsRelationManager.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$name\\.$#"
			count: 1
			path: src/Filament/Resources/FilamentFormResource/RelationManagers/FilamentFormUsersRelationManager.php

		-
			message: "#^Call to an undefined method Filament\\\\Forms\\\\Components\\\\Field\\:\\:multiple\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FilamentForm/Show.php

		-
			message: "#^Call to an undefined method Filament\\\\Forms\\\\Components\\\\Field\\:\\:options\\(\\)\\.$#"
			count: 1
			path: src/Livewire/FilamentForm/Show.php
